*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins',sans-serif;
    box-sizing: border-box;
}

body{
    background: #222;
}

.card{
    width: 90%;
    max-width: 470px;
    background: linear-gradient(20deg, #06142e,#1b3358,#473e66,#bd83b8,#f5d7db,#f1916d);
    color: #fff;
    margin: 100px auto 0;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
}

.search{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search input{
    border: 0;
    outline: 0;
    background: #ebfffc;
    color: #555;
    padding: 10px 25px;
    height: 60px;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;
}

.search button{
    border: 0;
    outline: 0;
    background: #f5fffa; 
    /* #ebfffc */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;

}

.search button img{
    width: 16px;
}

.weather-icon{
    width: 170px;
    margin-top: 30px;
}

.weather h1{
    font-size: 80px;
    font-weight: 500;
}

.weather h2{
    font-size: 45px;
    font-weight: 400;
    margin-top: -10px;
}

.details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 50px;
}

.col{
    display: flex;
    align-items: center;
    text-align: left;

}

.col img{
    width: 40px;
    margin-right: 10px;
}

.humidity, .wind{
    font-size: 28px;
    margin-top: -6px;
}

.weather{
    display: none;
}

.error{
    text-align: left;
    margin-left: 10px;
    margin-top: 10px;
    font-size: 14px;
    display: none;
}
@media screen and (max-width: 1200px) {
    .card {
        width: 90%;
    }

    .search input {
        font-size: 16px;
    }

    .weather h1 {
        font-size: 60px;
    }

    .weather h2 {
        font-size: 35px;
    }

    .col img {
        width: 30px;
    }

    .details{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 20px;
        margin-top: 50px;

    }

    .humidity,
    .wind {
        font-size: 24px;
        margin-top: -4px;
    }
}

@media screen and (max-width: 768px){

    .card{
        width: 90%;
        max-width: none;
    }

    .weather h1{
        font-size: 60px;
    }

    .weather h2{
        font-size: 30px;
    }
    
    .col img{
        width: 30px;
    }

    .details{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 20px;
        margin-top: 50px;

    }
    .humidity, 
    .wind{
        font-size: 24px;
        margin-top: -4px;
    }
}

@media screen and (max-width: 600px){

    .card{
        width: 90%;
        max-width: none;
    }

    .search{
        width: 90%;
        display: flex;
        align-items: center;
        justify-content: space-between;

    }

    .search input{
        padding: 3px 15px;
        height: 45px;
        font-size: 14px;
        
    }

    .search button{
        width: 70px;
        height: 45px;
        border: 0;
        outline: 0;
        padding-left: 12px;
        padding-right: 12px;
        border-radius: 50%;
    }

    .search button img{
        width: 14px;
        
    }

    .weather h1{
        font-size: 40;
    }

    .weather h2{
        font-size: 25px;
        margin-top: -6px;
    }

    .details {
        margin-top: 30px;
        padding: 0 20px;
        align-items: center;
        justify-content: space-between;
        display: flex;



    }

    .col img{
        width: 35px;
        margin-right: 8px;
    }

    .humidity, 
    .wind{
        font-size: 20px;
        margin-top: -2px;
    }

}

@media screen and (min-width: 992px){

    .card{
        padding: 60px 50px;
    }

    .search input{
        padding: 15px;
        height: 70px;
        font-size: 20px;
    }

    .search buttton{
        width: 70px;
        height: 70px;
    }

    .search button img{
        width: 18px;

    }

    .weather-icon{
        width: 200px;
        margin-top: 40px;
    }

    .weather h1{
        font-size: 100px;
    }

    .weather h2{
        font-size: 50px;
        margin-top: -12px;

    }

    .details{
        padding: 0 20px;
        margin-top: 70px;
        display: flex;
        justify-content: space-between;

    }

    .col img{
        width: 50px;
        margin-right: 15px;
    }

    .humidity,
    .wind{
        font-size: 32px;
        margin-top: -8px;

    }

}
